.inputDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  margin-top: 20px;
}

.textInput {
  outline: none;
  flex: 0.9;
  height: 30px;
}

.buttonInput {
  outline: none;
  flex: 0.08;
  height: 35px;
}
